body {
    font-family: "roboto", sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.links {
    display: flex
}

li {
    font-size: 18px;
    list-style: none;
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
